body {
    margin: 0;
}

#content {
    height: 30px;
    /*width: 107px;*/
    overflow: hidden;
    border-color: black;
    background: #494F5C;
    padding: 15px;
    -webkit-transition: all ease 0.75s;
}

#test-button {
    height: 30px;
    display: inline-block;
    outline: none;
    background-color: #98B248;
    box-shadow: none;
    border-radius: 10px;
    border-style: solid;
    border-color: #98B248;
    cursor: pointer;
}

#button-text {
    color: white;
    font-weight: bold;
}

#button-wrapper {
    text-align: center;
}


#game-list {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.entry {
    overflow: hidden;
    white-space: nowrap;
    width: 60%;
    -webkit-transition: background-color 0.3s;
    -moz-transition:    background-color 0.3s;
    -o-transition:      background-color 0.3s;
    transition:         background-color 0.3s;
}

.entry:hover {
    background-color: #33363F;
}

.game-link-cell:hover .game-link, .game-link-cell.hover .game-link {
    color: white;
}

.game-link-cell{
    padding: 5px;
}


.game-price {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #7D828A;
    width: 40%;
}

.game-link {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #7D828A;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition:    color 0.3s;
    -o-transition:      color 0.3s;
    transition:         color 0.3s;
    height: 100%;
    width: 100%;
    display: block;
}

#table-header th {
    font-family: 'Raleway', sans-serif;
    color: #7D828A;
    text-decoration: none;
    font-size: larger;
    padding: 7px 7px 10px;
}

#failed-table-header th {
    font-family: 'Raleway', sans-serif;
    color: #7D828A;
    text-decoration: none;
    font-size: larger;
    padding: 7px 7px 10px;
}

#failed-list {
    width: 100%;
    text-align: center;
}

.failed-game {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #7D828A;
    padding: 5px;
}

#loading {
    width: 107px;
    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: -1;
}

#loading-image {
    position: absolute;
    width: 107px;
    height: 60px;
    z-index: 100;
}