body {
    height: 100%;
}

#test-button {
    height: 30px;
    display: inline-block;
    outline: none;
    background-color: white;
    box-shadow: none;
    border-radius: 10px;
    border-style: solid;
    border-color: paleturquoise;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -moz-transition:    background-color 0.3s;
    -ms-transition:     background-color 0.3s;
    -o-transition:      background-color 0.3s;
    transition:         background-color 0.3s;
}

#test-button:hover {
    background-color: paleturquoise;
    -webkit-transition: color 0.3s;
    -moz-transition:    color 0.3s;
    -ms-transition:     color 0.3s;
    -o-transition:      color 0.3s;
    transition:         color 0.3s;
}

#button-text {
    color: paleturquoise;
    -webkit-transition: color 0.3s;
    -moz-transition:    color 0.3s;
    -ms-transition:     color 0.3s;
    -o-transition:      color 0.3s;
    transition:         color 0.3s;
}

#test-button:hover #button-text{
    color: white;
}

#button-wrapper {
    text-align: center;
}


#game-list {
    text-align: center;
    width: 100%;
}

.entry {
    overflow: hidden;
    white-space: nowrap;
}

.game-link-cell {
    width: 70%;
}

.game-price {
    width: 30%;
}

.game-link {
    text-decoration: none;
}